<!-- coin info card -->
<div>
    <!-- coin name -->
    <h2><%= name %></h2>
    <!-- coin price -->
    <p>$<%= price %></p>
    <!-- coin img  -->
    <img src="<%= img %>" alt="coin logo">
    <!-- more info button  -->
    <div>
        <a href="">
            <button>More info</button>
        </a>
    </div> 
</div>
<!-- end coin info card -->