    <!-- footer -->
    <footer>
        <!-- logo img -->
        <img src="/images/logo_app.svg" alt="logo app">
        
        <!-- social container -->
        <div>
            <img src="images/github.svg" alt="github logo">
            <img src="images/linkedin.svg" alt="linkedin logo">
            <img src="images/Binance_Logo.svg" alt="binance logo">
        </div> 
    </footer>
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>