<nav>
    <!-- container logo and menu -->
        <div>
        <!-- app logo --> 
        <div>
            <a href="/"><img src="/images/logo_app.svg" alt="app logo"></a>
        </div>
        <!-- app menu -->
        <ul>
            <a href="">
                <li>exchanges</li>
            </a>
            <a href="">
                <li>market info</li>
            </a>
            <a href="">
                <li>terms glossary</li>
            </a>
        </ul>
    </div>
    <!-- end container logo and menu -->

    <!-- search input -->
    <div>
        <form action="">
            <input type="search" name="query" id="query" placeholder="search">
            <img src="/images/search_icon.svg" alt="search icon">
        </form>
    </div>
</nav>