<nav class="navbar navbar-expand-lg px-md-5">
    <div class="container-fluid">
        <!-- app logo --> 
        <div>
            <a href="/" class="navbar-brand"><img src="/images/logo_app.svg" alt="app logo"></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- app menu -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mb-3 mt-3 text-capitalize" id="listMenu">
                <a href="/global-info" class="nav-item">
                    <li>market info</li>
                </a>
                <a href="" class="nav-item">
                    <li>terms glossary</li>
                </a>
            </ul>
            <!-- search input -->
            <form action="" class="d-flex">
                <div class="position-relative">
                    <input type="text" name="query" id="query" placeholder="search" class="form-control">
                    <img src="/images/search_icon.svg" alt="search icon" class="position-absolute">
                </div>
            </form>
        </div>        
    </div>
</nav>