<%- include('partials/header.ejs') %>
    <!-- main content -->
    <main>
        <!-- main info -->
         <div>
            <!-- name and coin img -->
            <div>
                <img src="" alt="coin img">
                <!-- coin name -->
                <h1>coin name</h1>
            </div>
            <!-- info -->
            <div>
                <!-- symbol -->
                <h2>symbol: SSS</h2>
                <!-- coin description -->
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat tempore ratione libero eaque soluta mollitia, totam adipisci similique 
                    deleniti nihil atque rerum explicabo exercitationem deserunt, eius maiores enim! Itaque, adipisci.
                </p> 
                <!-- coin rank -->
                <h2>Rank #9</h2>
            </div>
         </div>
        <!-- end main info  -->

        <!-- proof info -->
        <div>
            <h2>Proof type</h2>
            <p>Prof type</p>
             <!-- Algorithm -->
            <h2>Proof type</h2>
            <p>SHA256</p>
        </div>
        <!-- team -->
        <div>
            <h2>Team</h2>
            <ul>
                <li>Team integrant</li>
            </ul>
        </div>
        <!-- whitepaper -->
        <div>
            <h2>Whitepaper</h2>
            <a href="">
                <p>Dowload PDF</p>
            </a>
        </div>

        <!-- background -->
        <img src="" alt="coin img"> 
    </main>
    <!-- end main content -->
<%- include('partials/footer.ejs') %>