<%- include('partials/header.ejs') %>
    <main class="px-5 d-flex flex-grow-1 flex-column ">
        <div class="mb-4 rounded-3">
            <div class="container-fluid py-3">
                <h1 class="display-5 fw-bold">Cryptocurrencies Terms Definition</h1>
                <div class="list-group w-auto">
                    <% termsInfo.forEach((term)=>{ %>
                        <div  class="list-group-item list-group-item-action d-flex gap-3 " aria-current="true">
                            <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>
                                    <h6 class="mb-0 text-capitalize fs-4"><%= term.name %></h6>
                                    <p class="mb-0 opacity-8 fs-5"><%= term.description %></p>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </main>

<%- include('partials/footer.ejs') %>


