<%- include('partials/header.ejs') %>

<!-- main content -->
<main>
    <!-- title -->
    <h1>Top crypto currencies</h1>
    <!-- main grip -->
    <div>
        <!-- iterater over each coin and render coin card -->
        <% topCoins.forEach((coin, i)=>{ %>
            <%- include('partials/card.ejs', 
            {
                name: coin.name,
                price: coinsPrices[i].toFixed(2),
                img: coinsImgURL[i],
            }) 
            %>
        <% }) %>
    </div>

</main>


<%- include('partials/footer.ejs') %>