<%- include('partials/header.ejs') %>

<!-- main content -->
<main class="py-2 px-md-5 d-flex flex-column gap-3 mb-4 flex-grow-1">
    <!-- title -->
    <h1 class="text-capitalize">Top crypto currencies</h1>
    <!-- main grip -->
    <div class="grid">
        <!-- iterater over each coin and render coin card -->
        <% topCoins.forEach((coin, i)=>{ %>
            <%- include('partials/card.ejs', 
            {
                name: coin.name,
                price: coinsPrice[i].toFixed(2),
                img: coinsImgURL[i],
                id: coin.id
            }) 
            %>
        <% }) %>
    </div>

</main>


<%- include('partials/footer.ejs') %>