<%- include('partials/header.ejs') %>

<!-- main content -->
<main>
    <!-- title -->
    <h1>Top crypto currencies</h1>
    <!-- main grip -->
    <div>
        <%- include('partials/card.ejs') %>
    </div>

</main>


<%- include('partials/footer.ejs') %>