body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* navbar custom styles */
nav, footer{
    background-color: #F5F5F5;
}
#listMenu{
    list-style: none;
    gap: 16px;
    font-size: 18px;
}

#listMenu a{
    text-decoration: none;
    color: inherit;
}

nav form img{
    height: 20px;
    top: 8px;
    right: 10px;
}
/* end navbar styles */

/* footer styles  */
 footer{
    height: 100px;
 }

/* end footer styles */

/* coin card styles */

main .coin-card{
    background-color: #F5F5F5;
    height: 560px;
    width: 350px;
}

main .coin-card img{
    object-fit: contain;
}

/* main grid */
main h1{
    font-weight: 100;
    font-size: 56px;
    margin-bottom: 16px;
}

main .grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 32px;
}
/* end main grid */

/* 404 error page */
.bigText{
    font-size: 56px;
}

/* end 404 error page */

/* media queries */
@media (max-width: 850px){
    main h1{
        font-size: 32px;
        text-align: center;
    }
    main .grid{
        place-items: center;
    }
    main .coin-card{
       width: 300px;
    }
    .broken-coin{
        width: 256px;
    }
    footer{
        height: auto;
     }
}