body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* navbar custom styles */
nav, footer{
    background-color: #F5F5F5;
}
#listMenu{
    list-style: none;
    gap: 16px;
    font-size: 18px;
}

#listMenu a{
    text-decoration: none;
    color: inherit;
}

nav form img{
    height: 20px;
    top: 8px;
    right: 10px;
}
/* end navbar styles */

/* footer styles  */
 footer{
    height: 100px;
 }

/* end footer styles */

/* 404 error page */
.bigText{
    font-size: 56px;
}

/* end 404 error page */